.header{

}
.logo{
    width: 5%;
    float: left;
}
.search{
    width:80%;
    float: left;
   
}
.search input{
    width: inherit;
    height: 30px;
    border-radius: 5px;
    border:1px solid #EFEFEF;
    background-color: #EFEFEF;
}
.capsules{
    width:15%;
    float: left;
}
ul{
    list-style-type:none ;
    padding: 0px;
    margin: 0px;
}
li{
    display: inline;
}